body {
  margin: 0 auto;
  padding: 0;
  background: rgb(44,48,52);
  min-width: 350px;
  max-width: 1800px;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.button {
  font-family: open sans, arial, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  border: 3px solid rgb(252,211,28);
  border-radius: 20px;
  padding: 10px 20px;
  &:hover {
    background: rgb(252,211,28);
    color: white;
    cursor: pointer;
  }
}
.modal-content {
  margin-top: 160px;
  padding: 0px;
  background-color: rgba(44,48,52,.9);
  border-radius: 30px;
  border: 3px solid rgb(252,211,28);
  font-family: open sans, arial, sans-serif;
  color: white;
  float: left;
}
.modal-header {
  color: rgb(252,211,28);
  padding: 20px 30px 10px 30px;
  h4 {
    font-family: bebas neue, khand, open sans, arial, sans-serif;
    letter-spacing: 1px;
    font-size: 34px;
  }
  .close {
    color: rgba(255,255,255,.3);
    opacity: 1;
    font-family: open sans, arial, sans-serif;
    font-weight: 300;
    &:hover {
      color: rgb(252,211,28);
    }
  }
}
.modal-body {
  padding: 20px 30px 15px 30px;
  font-family: open sans, arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .5px;
  p {
    span {
      color: rgb(252,211,28);
    }
  }
  form {
    float: left;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin-top: 15px;
    input[type=text] {
      float: left;
      margin: 0 auto 15px auto;
      position: relative;
      background: none;
      cursor: text;
    }
    input[type=submit] {
      background: none;
      margin: 0 auto 30px auto;
      position: relative;
      &:hover {
        background: rgb(252,211,28);
      }
    }
  }
}
.modal-footer {
  padding: 30px;
  img {
    width: 100px;
    float: left;
  }
  .oldLogo {
    opacity: .2;
    &:hover {
      opacity: 1;
    }
  }
  span {
    float: left;
    font-size: 30px;
    margin: 0 20px;
  }
  button {
    background: none;
  }
}
.validity-tooltip {
  margin-top: 5px;
}
.yellow-tooltip + .tooltip > .tooltip-inner {
  background-color: rgb(252,211,28);
  color: rgb(44,48,52);
  font-family: open sans, arial, sans-serif;
  font-size: 14px;
}
.yellow-tooltip + .tooltip > .tooltip-arrow {
  border-bottom: 5px solid rgb(252,211,28);
}

header {
  float: left;
  position: fixed !important;
  top: 0;
  width: 100%;
  max-width: 1800px;
  padding: 15px 0;
  margin-bottom: 8%;
  background-color: rgba(44,48,52,.9);
  z-index: 99999;
  .logo {
    float: left;
    width: 125px;
    padding: 0;
  }
  ul {
    float: right;
    margin: 20px 0;
    li {
      display: inline;
      list-style: none;
      padding: 0 15px;
      font-family: open sans, arial, sans-serif;
      font-size: 14px;
      letter-spacing: 1px;
      color: white;
    }
    .reserveBtn {
      padding: 10px 5px;
    }
    .navlink {
      border-right: 1px solid rgba(255,255,255,.3);
      &:nth-last-child(1),
      &:nth-last-child(2) {
        border: none;
      }
      &:hover {
        li {
          color: rgb(252,211,28);
        }
      } 
    }
    .unactive {
      li {
        color: rgba(255,255,255,.3);
      }
    }
  }
}

.mainLeft {
  margin-top: 130px;
  padding: 0px;
  font-family: open sans, arial, sans-serif;
  h1 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: white;
    span {
      color: rgb(252,211,28);
    }
  }
  p {
    font-size: 16px;
    margin: 20px 0 50px 0;
    color: rgba(255,255,255,.5);
    line-height: 26px;
    font-weight: 300;
    letter-spacing: .5px;
    span {
      color: rgb(252,211,28);
      cursor: pointer;
    }
  }
  .CTA {
    margin-left: 15px;
    position: relative;
    z-index: 10;
  }
}

.mainRight {
  margin-top: 130px;
  min-height: 350px;
  ul {
    float: left;
    margin-right: 25px;
    li {
      list-style: none;
      position: absolute;
      top: 0;
      right: 0;
      &:first-child {
        right: 6%;
        top: 40px;
      }
      &:nth-child(2) {
        right: -3%;
        top: -20px;
      }
      &:nth-child(3) {
        right: -12%;
        top: -80px;
      }
      img {
        width: 90%;
      }
    }
  }
}

#indexSummary {
  background: white;
  float: left;
  margin-top: 50px;
}
#indexSummary > .howItWorks {
  background: white;
  text-align: center;
  font-family: open sans, arial, sans-serif;
  color: rgb(44,48,52);
  font-size: 11px;
  line-height: 15px;
  padding-top: 15px;
  margin: 15px 0;
  border-color: rgba(44,48,52,.05);
  display: inline;
  float: left;
  &:nth-child(1) {
    clear: left;
  }
  .ediblesIcon,
  .concentratesIcon,
  .strainsIcon {
    width: 60%;
    margin: auto auto;
    border-radius: 50%;
    background: rgba(44,48,52,.2);
  }
  .concentratesIcon {
    border: 2px solid rgb(252,211,28);
    background-color: rgb(252,211,28);
  }
  .ediblesIcon {
    border: 2px solid rgb(247,37,62);
    background-color: rgb(247,37,62);
  }
  .strainsIcon {
    border: 2px solid rgb(61,216,97);
    background-color: rgb(61,216,97);
  }
  h3 {
    border: none;
    font-family: open sans, arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
  }
  p {
    font-family: open sans, arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    float: left;
    padding: 0 10%;
    strong {
      display: none;
    }
  } 
  &:nth-child(1),
  &:nth-child(2) {
    border-right: 1px solid rgba(44,48,52,.05);
  }
  &:nth-child(1) > h3 {
    color: rgb(61,216,97);
  }
  &:nth-child(2) > h3 {
    color: rgb(252,211,28);
  }
  &:nth-child(3) > h3 {
    color: rgb(247,37,62);
  }
}

footer {
  float: left;
  margin: 50px 0 0 0;
  div {
    margin: 0;
    padding: 0;
    .emailInput {
      float: left;
      font-family: open sans, arial, sans-serif;
      background: none;
      color: white;
      border: 3px solid rgba(255,255,255,.3);
      border-right: none;
      border-radius: 20px 0px 0px 20px;
      padding: 10px 20px;
      margin: 8% 0;
      &:hover {
        border-color: rgb(252,211,28);
      }
    }
    .submitInput {
      font-family: open sans, arial, sans-serif;
      font-size: 14px;
      letter-spacing: 1px;
      text-decoration: none;
      color: white;
      background: none;
      border: 3px solid rgb(252,211,28);
      border-radius: 0px 20px 20px 0px;
      padding: 10px 20px;
      margin: 8% 0;
      &:hover {
        background: rgb(252,211,28);
        color: white;
        cursor: pointer;
      }
    }
    p {
      float: left;
      font-size: 12px;
      margin: 0px 0 50px 0;
      color: rgba(255,255,255,.3);
      line-height: 22px;
      padding-left: 20px;
      border-left: 1px solid rgba(255,255,255,.3);
      span,
      a {
        color: rgb(252,211,28);
        &:hover {
          color: rgb(252,211,28);
          cursor: pointer;
        }
      }
    }
  }
}

/* Media Queries */

@media (max-width: 333px) {
  .mainRight {
    ul {
      padding-top: 85%;
      li {
        padding-top: 40%;
      }
    }
  }
}

@media (max-width: 450px) {
  .mainLeft {
    h1 {
      font-size: 28px;
    }
  }
  .mainRight {
    min-height: 300px !important;
    margin-top: 60px !important;
    ul {
      padding-top: 80%;
      li {
        padding-top: 30%;
      }
    }
  }
  #indexSummary {
    margin-top: 0;
    .howItWorks {
      .arrowRight {
        margin-left: 10px !important;
      }
    }
  }
}

@media (max-width: 600px) {
  .button {
    font-size: 12px;
  }
  .mainRight {
    ul {
      padding-top: 70%;
      li {
        padding-top: 20%;
      }
    }
  }
  .howItWorks {
    ul {
      li {
        font-size: 12px;
        img {
          width: 90%;
        }
      }
    }
  }
  footer {
    div {
      .emailInput,
      .submitInput {
        font-size: 12px;
        padding: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    position: relative !important;
    margin: 0 auto;
    padding-bottom: 0;
    text-align: center;
    .logo {
      float: none;
      margin: 0 auto;
      position: relative;
    }
    ul {
      width: 100%;
      clear: both;
      padding-left: 0;
      .reserveBtn {
        display: none;
      }
    }
  }
  footer {
    margin-top: 40px;
  }
  .mainLeft {
    margin-top: 20px;
  }
  .mainRight {
    margin: 0;
    ul {
      padding-top: 60%;
      li {
        padding-top: 10%;
      }
    }
  }
  #indexSummary {
    .howItWorks {
      padding: 20px 5%;
      margin: 0;
      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: 1px solid rgba(44,48,52,.05);
      }
      .concentratesIcon,
      .ediblesIcon,
      .strainsIcon {
        width: 22%;
        float: left;
        margin-right: 20px;
      }
      h3 {
        font-size: 18px;
        margin: 0;
        padding: 3% 0 0 0;
        text-align: left;
      }
      p {
        padding: 0;
        margin: 0;
        text-align: left;
        font-size: 10px;
        line-height: 14px;
        width: 70%;
      }
    }
  }
}

@media (max-width: 992px) {
  .mainRight {
    ul {
      li {
        padding-top: 10%;
      }
      li:nth-child(3) {
        bottom: 0 !important;
      }
    }
  }
  footer {
    div {
      .emailInput,
      .submitInput {
        margin: 0 0 30px 0;
      }
      p {
        border-left: none;
        padding: 0;
      }
    }
  }
}

@media (max-width: 1145px) {
  .mainRight {
    min-height: 350px;
    ul {
      li {
        &:first-child {
          bottom: 600%;
        }
        &:nth-child(2) {
          bottom: 100%;
        }
        &:nth-child(3) {
          bottom: -400%;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .mainRight {
    ul {
      padding-right: 25px;
      li {
        &:first-child {
          top: 0;
          right: 10%;
        }
        &:nth-child(2) {
          top: -45px;
          right: 4%;
        }
        &:nth-child(3) {
          top: -90px;
          right: -2%;
        }
      }
    }
  }
}

@media (min-width: 1650px) {
  .mainRight {
    min-height: 300px;
    ul {
      li {
        &:first-child {
          top: -20px;
        }
        &:nth-child(2) {
          top: -60px;
        }
        &:nth-child(3) {
          top: -100px;
        }
      }
    }
  }
}

@media (min-width: 1800px) {
  .mainRight {
    min-height: 350px;
    ul {
      li {
        &:first-child {
          top: 20px;
        }
        &:nth-child(2) {
          top: -40px;
        }
        &:nth-child(3) {
          top: -100px;
        }
      }
    }
  }
}


